@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap');

:root {
  --brand-lavendar: #E2CFEA;
  --brand-med-purple: #A06CD5;
  --brand-purple: #6247AA;
  --brand-blue: #102B3F;
  --brand-dark: #062726;
  --primary-font: 'Bree Serif', serif;
  --secondary-font: 'Lato', sans-serif; 
}